body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-size: cover;
    background-image: url("img/image2.jpeg");
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.full-width.search {
    position: relative;
    background-color: #000;
    padding: 10px 100px;

    display: none;
}

.search-form {
    position: relative;
    padding-left: 20px;
}

.search-form:before {
    font-family: fontAwesome;
    content: '\f002';
    position: absolute;
    top: 7px;
    color: #fff;
    left: 0;
}

.search-form input::placeholder {
    color: #fff;
}

.search-form input {
    width: 100%;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
}

.close {
    color: #fff;
    position: absolute;
    top: 8px;
    right: 0;
    cursor: pointer;
}

.full-width.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 100px;
}

.full-width.navbar .brand {
    float: left;
    margin: 0;
    padding: 15px 0;
    color: #fff;
}

.full-width.navbar ul {
    float: right;
    margin: 0;
    display: flex;
}

.full-width.navbar ul li {
    list-style: none;
}

.full-width.navbar ul li a {
    display: block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
}

.full-width.navbar ul li a.active,
.full-width.navbar ul li a:hover {
    background-color: #00bcd4;
}

.full-width.navbar ul li a.search-icon {
    background-color: #f00;
    cursor: pointer;
}
