.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 5px;
}

.wrapper div {
    border: 1px solid indianred;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: azure;
    /* grid-column: 1 / 3; */
}
.item3 {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(240, 255, 244);
}
.item4 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(243, 240, 255);
}

