body {
    margin: 0;
    padding: 0;
    background-color: indianred;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.center span {
    font-family: sans-serif;
    color: #fff;
    font-size: 48px;
}